{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="heading">User Profile </h3>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="vcard">
                        <img class="thumbnail" src="http://www.placehold.it/80x80/EFEFEF/AAAAAA" alt="">
                        <ul>
                            <li class="v-heading">
                                User info
                            </li>
                            <li>
                                <span class="item-key">Full name</span>
                                <div class="vcard-item"></div>
                            </li>
                            <li>
                                <span class="item-key">Username</span>
                                <div class="vcard-item">{{ user.username }}</div>
                            </li>
                            <li>
                                <span class="item-key">Email</span>
                                <div class="vcard-item">{{ user.email }}</div>
                            </li>
                            <li>
                                <span class="item-key">Gender</span>
                                <div class="vcard-item">Male</div>
                            </li>
                            <li>
                                <span class="item-key">Languages:</span>
                                <div class="vcard-item">
                                    <ul class="list_a">
                                        <li>English</li>
                                        <li>French</li>
                                        <li>German</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span class="item-key">Signature</span>
                                <div class="vcard-item">
                                    signature
                                </div>
                            </li>
                        </ul><br>
                        <a class="btn btn-primary pull-right" href="{{ path('profile_edit') }}"><i class="glyphicon glyphicon-edit"></i> edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}