{% block main_content %}
    <div id="div_col"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(col,'div_col') }}
    </script>
{% endblock %}