Hi.<br>

I would like that you complete the charter for the project : {{ charter.projectName }}.<br>

To complete go to: <a href="{{ path('charter_edit', { 'id': charter.id }) }}">Charter</a>.<br>

Thanks!