Hi {{ charter.projectManager }}.<br>

I would like that you create a new charter for this new project : {{ charter.projectName }}.<br>

To create go to: <a href="{{ path('charter_edit', { 'id': charter.id }) }}">Charter</a>.<br>

Thanks!

