Hi.<br>

I send you the decision for the budget of the project {{ charter.projectName }}.<br>

To consult the decision go to: <a href="{{ path('charter_edit', { 'id': charter.id }) }}">{{ charter.projectName }}</a>.<br>

Thanks!