Hi {{ charter.projectManager }}.<br>

I would like that you consult the budget for the project : {{ charter.projectName }}.<br>

To consult and negotiate go to: <a href="{{ path('charter_edit', { 'id': charter.id }) }}">{{ charter.projectName }}</a>.<br>

Thanks!