Hi.<br>

I would like to notice you that the project {{ charter.projectName }} has been validated.<br>

To consult the project go to: <a href="{{ path('charter_show', { 'id': charter.id }) }}">{{ charter.projectName }}</a>.<br>

best regards.