<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="{{ path('project_index') }}"><i class="glyphicon glyphicon-th-list"></i> Projects</a>
        </li>
        <li>
            <a href="{{ path('chart_index') }}"><i class="fas fa-chart-pie"></i> Charts</a>
        </li>
    </ul>

</div>